@model Gallery.Web.image

@{
    ViewBag.Title = "ViewImage";
}

<h2>ViewImage</h2>
@if (Model != null)
{
    var selImage = Model.site_locations.Location + Model.Filename;
    
    <img src="@selImage"/>


}
else
{
   <h2>Nothing to see!</h2>
}