@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WEBSITE NAME</h1>
    <p class="lead">Site blurb</p>
</div>

<div class="site-main">
    @{ Html.RenderAction("RandomImage", "Images");}

</div>